body {
    margin: 0;
    padding: 0;
    background-image: url(https://free4kwallpapers.com/uploads/originals/2020/10/14/sunset-at-mountain-vordergl%C3%A4rnisch-in-glarus-switzerland-wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    
  }